<div class="container mt-5">
<p class="mb-4">Youhou lapinou, pose-moi ta question</p>
<form action="answer" data-turbo="false">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
